@import "antd/dist/antd.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #f6f8cf;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
}

main{
    width:75%;
    margin: 20px;
    background-color: rgb(240, 239, 239);
}
h1{
    font-size: 1.2rem;
    color:black;
    margin: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-left: 1.5rem;
}
.logo img{
    width: 300px;
    height: 276px;
    margin: 50px;
}

.navigation li{
    margin-top: 20px;
}
.navActive{
    color:#5a6f06;
    text-decoration-line: underline;
    font-size: 18px;
    font-weight: 700;
}
a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #3070ab;
}

.ant-form-item-label{
    padding: 0 !important;
}

.ant-form-item-label label, .ant-picker-panel, .ant-form-item-explain-error{
    font-size: 12px;
    font-weight: 700;
}

.ant-space{
    width: 40%
}
.ant-picker-today-btn{
    font-size: 14px ;
}
.ant-picker-body{
    background-color:#d6db99a9
}
.ant-picker-today-btn, .ant-table-column-sorter-down.active, .ant-table-column-sorter-up.active, .ant-picker-header-view {
    color:#5a6f06;
}
.ant-input-affix-wrapper, .ant-picker, .ant-select, .ant-input-number, .ant-pagination-item-active, .ant-btn {
    border: 1px solid #5a6f06;
}

.ant-table-column-title{
    font-weight: 700;
    color:#5a6f06;
}
.ant-table-body{
    font-size: 12px;
}

.ant-table-cell a{
    color:#5a6f06;
    font-size: 14px;
    font-weight: 700;
}
.ant-pagination-item-active a {
    color:#5a6f06;
    font-size: 14px;
}

.ant-input-group>.ant-input-affix-wrapper, .ant-btn{
    height:28px
}

.ant-modal-content {
border-radius: 15px;
border: 2px solid #5a6f06; 
}
.ant-modal-close-x {
    display: none;
}

.ant-btn-primary{
    background-color: #5a6f06;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-text{
    width: 300px !important;
    top:300% !important;
    left: -600% !important;
    font-size:20px;
    color:#3070ab
}

.spinner{
    position: fixed;
    width: 25% !important;
    bottom: 25% !important;
    left: 50% !important;
    color:#3070ab
}
.modal-header h3{
    color:red;
    font-size:20px
}

/* --------------------RESPONSIVE---------------- */

@media screen and (min-width: 769px) and (max-width: 992px){
    .logo img{
        width: 250px;
        height: 226px;
        margin: 30px;
    }
} 

@media screen and (min-width: 376px) and (max-width: 768px){
    .logo img{
        width: 200px;
        height: 176px;
        margin: 30px;
    }
} 

